#include "kzp.h"
#include "kzpdlg.h"

MENU ID_POPUP 
BEGIN
    MENUITEM "~Hide", IDM_HIDE
    MENUITEM "~Options...", IDM_OPTIONS
	MENUITEM SEPARATOR
	MENUITEM "E~xit", IDM_EXIT
END

DLGTEMPLATE IDD_OPTDLG 
BEGIN
    DIALOG "Options", 100, 48, 57, 150, 113, , FCF_TITLEBAR
	BEGIN
		DEFPUSHBUTTON "OK", DID_OK, 23, 12, 51, 14, BS_PUSHBUTTON | BS_DEFAULT | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		PUSHBUTTON "Cancel", DID_CANCEL, 77, 12, 51, 14
		CONTROL "Patch", IDG_PATCHGROUP, 28, 44, 94, 56, WC_STATIC, SS_GROUPBOX | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "3 bulsik", IDB_3BUL, 50, 75, 50, 10, WC_BUTTON, BS_AUTOCHECKBOX | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "Chatting line", IDB_CHATLINE, 50, 56, 55, 10, WC_BUTTON, BS_AUTOCHECKBOX | WS_VISIBLE | WS_TABSTOP
	END

END

